<!doctype html>
<html>
<head>
    <title>Application Response</title>
    <!-- <link rel="stylesheet" type="text/css" href="static/styles.css"> -->
    <link type="text/css" rel="stylesheet" href="static/styles.css"/>

</head>
<body>
    <!-- fill this in -->


{% extends '/base.html' %} 
{% block title %}Application Received{% endblock %}

{% block content %}
	<div>
	   <h2>Employment Application Received</h2> 	
	        <p>Thank you, {{first_name }} {{last_name}}, for applying to be a {{job_title}}. Your minimum salary requirement is $ {{salary}}!</p>
	</div>
{% endblock %}
</body>
</html>

